@font-face {
    font-family: 'battlefront';
    src: url('fonts/Battlefront_UI_2023.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html,body{
    height: 100vh; /* Limite la hauteur du body à 100% de la fenêtre */
    margin: 0;
    padding: 0;
}

/*=========================BARRE DE SCROLL=============================  */

::-webkit-scrollbar {
    width: 12px;
    background-color: #000;

}

::-webkit-scrollbar-thumb {
    background-color: #666;
    background: linear-gradient(circle right rgb(0,0,0) rgb(255,255,255));
    border-radius: 10px;
    border: 3px solid #666;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    border-color: #333;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

/*=====================================================================*/



html {
    scroll-behavior: smooth;
    font-family: 'battlefront', sans-serif;
    
}

body {
    background: #000 url(images/wallpaperBackgroud.png) center/cover no-repeat;
    
}

.home-container{
    
    padding: 5% 0% 0% 10%;
}

.navAcceuil {
    margin-bottom: 40px;
}

nav  {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    backdrop-filter: blur(10px);
    
}

a{
    text-decoration: none;
}

nav a {
    padding: 12px ; 
    width: 200px;
    color: rgba(115, 115, 115);
    font-size: 28px;
    border-width: 0px 2px;
    border-style: solid;
    border-color: rgb(82, 82, 82);
    text-align: center;
    margin-right: -2px;
    transition-duration: 0.2s; 
}

nav a:hover {
    color: #fbb10a;
    border-color: #fbb10a;
    text-shadow: rgb(251, 177, 10) 0px 0px 10px;
    z-index: 2;
} 

.active {
    border-color: rgb(255, 255, 254);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

.grid-home {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 200px;
    max-width: 1000px;
}

.home-box{
    border: 2px solid rgba(115, 115, 115);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.content-home-box{
    padding: 20px;
    position: relative;
}

.content-home-box::before{
    content: "";
    background: #FBB10A;
    position: absolute;
    left: 0;
    width: 60%;
    left: 30px;
    height: 8px;
    top: -5px;
    border-radius: 100px;
    box-shadow: 0 0 10px #fbb10a;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.home-box:hover{
    border-color: #fbb10a;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 0 10px #fbb10a, inset 0 0 10px #fbb10a;
}

.home-box:hover  .content-home-box::before {
    opacity: 1;
}

.home-box:hover  .title-home-box {
    color: #fbb10a;
    text-shadow: rgb(251, 177, 10) 0px 0px 10px;
}

.subtitle-home-box{
    color: rgba(115, 115, 115, 1);
    font-size: 25px;
}

.title-home-box{
    color: rgb(229, 229, 229);
    font-size: 35px;
}

.box1{
    grid-row: 1 / 3;
    margin-right: -2px;
    background-image: url("images/LastProject.png");
    background-position: center;
    background-size: cover;
}

.box2{
    background-image: url("images/box2.jpg");
    background-position: center;
    background-size: cover;
    
}

.box3{
    margin-top: -2px;
    background-image: url("images/contact-me.jpg");
    background-position: center;
    background-size: cover;
}

.link-widget{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.widget{
    width: 30px;
    height: 30px;
}

.widget img{
    width: 100%;
    height: 100%;
}

.widget:hover {
    
    filter: drop-shadow(0 0 10px rgba(255, 255, 254, 0.8));
}

footer{
    position: absolute;
    bottom: 0;
    color: rgba(115, 115, 115, 0.8);
}

.cv-page{
    backdrop-filter: blur(5px);
}

.cv-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.header-cv-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.button-cv{
    padding: 10px;
    font-size: 1.2em;
    color: rgba(115, 115, 115);
    backdrop-filter: blur(10px);
    width: 200px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgba(115, 115, 115);
    transition-duration: 0.2s;
    margin: 20px;
}

.button-cv:hover{
    color: #fbb10a;
    border-color: #fbb10a;
    text-shadow: rgb(251, 177, 10) 0px 0px 10px;
    box-shadow: 0 0 10px #fbb10a, inset 0 0 10px #fbb10a;
    
}

.cv-container{
    height: 100%;
    max-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contentCV{
    max-height: 95%;
    width: 50%;
    overflow: auto;
    border: 2px solid rgba(115, 115, 115);
    
}

.imgCV{
    width: 100%;

}






.navProjects{
    margin: 5% 0% 0% 10%;
}

.mainProject{
    height: 80vh;
    justify-content: space-between;
}

.box-projects{
    justify-content: space-between;
    width: 45%;
    padding: 40px 0;
}

.project{
    border-width: 0 2px;
    border-color: rgba(115, 115, 115, 1);
    border-style: solid;
    margin: 0 -2px 0 0;
    flex: 1;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    backdrop-filter:blur(2px);
}

.project-content{
    border: 2px solid rgba(115, 115, 115);
    width: 45%;
    backdrop-filter:blur(10px);
    color: white;
}

.project:hover{
    flex: 3;
    border-color: #FBB10A;
    z-index: 2;
}





















.-flex{
    display: flex;
    
}

.-fdirectionRow{
    flex-direction: row;
}

.-w100{
    width: 100%;
}

.-pad20px{
    padding: 20px;
}