<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Me contacter | Paul Cogitore</title>
</head>
<body>

    <main class="main-contactMe">
        
        <form action="sendMail.php" method="post">

            <input id="nom" type="text" name="name" >

            <input id="prenom" type="text" name="prenom" >

            <input id="email" type="email" name="email" >

            <input id="mailSubject" type="text" name="subject" >
        </form>

    </main>
    
</body>
</html>